body{
    position: relative;
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 1vw grey;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15%;
    z-index: 3;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    margin: auto;
}

.header_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 50%;
    margin: auto;
    background-color: #FF7F50;
    border-radius: 6vh;
    transition: .3s;
}

.header_item:hover {
    transform: scale(1.05);
}

.header_item a {
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: .3s;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    margin: 0;
    background-color: #967bb6;
    color: white;
    width: 100%;
    height: 100%;
}
#welcome-section h1, #welcome-section h2{
    margin: .5% auto;
    width: 100%;
    text-align: center;
}
#welcome-section h1{
    font-family: "Roboto Light", sans-serif;
}
#welcome-section h2{
    font-family: "Roboto Thin", sans-serif;
}
.projects{
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(2, 50%);
    margin: 0;
}
.projects_intro{
    display: block;
    margin: 1% auto;
    width: 30%;
    font-family: "Roboto", sans-serif;
    padding: 1% 0;
    text-align: center;
    border-bottom: black 0.1vh solid;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 80%;
    margin: 5% auto;
    transition: .3s;
}
.project:hover{
    transform: scale(1.05);
    transform: translateY(-5%);
    z-index: 0;
}
.project img{
    border-top-left-radius: 8vh;
    border-top-right-radius: 8vh;
    width: 100%;
    object-fit: fill;
    box-shadow: 0 0 2vw grey;
}
.project-title{
    width: 100%;
    padding: 5% 0;
    background-color: #FF7F50;
    margin: 0;
    color: white;
    border-bottom-left-radius: 8vh;
    border-bottom-right-radius: 8vh;
    box-shadow: 0 0 1vw grey;
}
.project-title a{
    display: block;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: underline;
}
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: pink;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15%;
}
#profile-link{
    display: block;
    margin: auto;
    color: white;
}
#profile-link a{
    color: white;
    text-decoration: underline;
}
@media screen and (orientation: portrait) {
    #navbar {
        box-shadow: 0 0 5vh grey;
    }
    .header_item {
        width: 30vw;
    }
    .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .projects_intro{
        margin: 2.5% auto;
        width: 90%;
    }
    .project{
        width: 90%;
    }
    .project img{
        box-shadow: 0 0 2.5vh grey;
    }
    .project-title{
        padding: 10% 0;
        box-shadow: 0 0 2.5vh grey;
    }
}